# Core libraries
streamlit
pandas
numpy
scipy
matplotlib
plotly
seaborn
openpyxl
pillow
sqlalchemy
faiss-cpu
statsmodels

# Forecasting
Cython
pmdarima==2.0.3   # use a version with wheels available
pystan==2.19.1.1   # required by prophet
prophet==1.1.4     # compatible version
