# Core libraries
streamlit
pandas
numpy
scipy
matplotlib
plotly
seaborn
openpyxl
pillow
sqlalchemy
faiss-cpu
statsmodels

# Forecasting
Cython          # Required by pmdarima
pmdarima
pystan          # Required by Prophet
prophet
